<div class="container-fluid"  ng-controller="listarUsuarioController as vm" ng-init="vm.iniciar()">
	<div class="row">
		<h2>Listar Usuários</h2>
		
		<alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.fecharAlert($index)">{{alert.msg}}</alert>
		
		<accordion>
			<accordion-group heading="Filtros" is-open="vm.apresentarFiltros">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="nomeUsuario" class="col-sm-2 control-label">Nome</label>
						<div class="col-sm-6">
							<input id="nomeUsuario" type="text" ng-model="vm.usuario.nome" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label for="matriculaUsuario" class="col-sm-2 control-label">Matrícula</label>
						<div class="col-sm-2">
							<input id="matriculaUsuariov" type="text" ng-model="vm.usuario.matricula" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label for="statusUsuario" class="col-sm-2 control-label">Status do Usuário</label>
						<div class="col-sm-6">
							<div class="btn-group">{{vm.usuario.status}}
								<label class="btn btn-default capitalize" ng-model="vm.usuario.status" btn-radio="''">Todos</label>
								<label ng-repeat="statusUsuario in vm.status" class="btn btn-default" 
									ng-model="vm.usuario.status" btn-radio="'{{statusUsuario.descricao}}'">{{statusUsuario.descricao}}</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="perfilUsuario" class="col-sm-2 control-label">Perfil do Usuário</label>
						<div class="col-sm-6">
							<div class="btn-group">{{vm.usuario.perfil}}
								<label class="btn btn-default" ng-model="vm.usuario.perfil" btn-radio="''">Todos</label>
								<label ng-repeat="perfil in vm.perfis" class="btn btn-default" 
									ng-model="vm.usuario.perfil" btn-radio="'{{perfil.descricao}}'">{{perfil.descricao}}</label>
							</div>
						</div>
					</div>
				</form>
			</accordion-group>
		</accordion>
		
		<table class="table table-condensed table-hover table-striped table-bordered ">
			<thead>
				<tr>
					<th class="text-center">Nome</th>
					<th class="text-center">matrícula</th>
					<th class="text-center">Perfil</th>
					<th class="text-center">Status</th>
					<th class="text-center">Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-center" ng-repeat="usuario in vm.usuarios | filter : vm.usuario">
					<td class="vert-align col-md-5">
						<span ng-hide="usuario.modoEdicao">{{usuario.nome}}</span>
						<div ng-show="usuario.modoEdicao">
							<input type="text" ng-model="usuario.nome" class="form-control input-sm text-center">
						</div>
					</td>
					<td class="vert-align col-md-2">
						<span ng-hide="usuario.modoEdicao">{{usuario.matricula}}</span>
						<div ng-show="usuario.modoEdicao">
							<input type="text" ng-model="usuario.matricula" class="form-control input-sm text-center">
						</div>
					</td>
					<td class="vert-align">
						<span class="label label-default capitalize" ng-hide="usuario.modoEdicao">{{usuario.perfil}}</span>
						<div class="btn-group" ng-show="usuario.modoEdicao">
							<label ng-repeat="perfil in vm.perfis" class="btn btn-default btn-xs"
								ng-model="usuario.perfil" btn-radio="'{{perfil.descricao}}'">{{perfil.descricao}}</label>
						</div>
					</td>
					<td class="vert-align">
						<span class="label label-default capitalize" ng-hide="usuario.modoEdicao">{{usuario.status}}</span>
						<div class="btn-group" ng-show="usuario.modoEdicao">
							<label ng-repeat="statusUsuario in vm.status" class="btn btn-default btn-xs capitalize"
								ng-model="usuario.status" btn-radio="'{{statusUsuario.descricao}}'">{{statusUsuario.descricao}}</label>
						</div>
					</td>
					<td class="vert-align col-md-1" >
						<button class="btn btn-default btn-xs" ng-model="usuario.modoEdicao" 
							ng-click="vm.atualizarUsuario(usuario)" ng-disabled="!usuario.modoEdicao" tooltip="Salvar">
							<i class="glyphicon glyphicon-floppy-disk"></i>
						</button>
						<button class="btn btn-default btn-xs" ng-click="vm.editarUsuario(usuario)" tooltip="Editar" ng-disabled="usuario.modoEdicao">
							<i class="glyphicon glyphicon-pencil"></i></button>
						<button class="btn btn-default btn-xs" tooltip="Limpar Senha" ng-click=""><i class="glyphicon glyphicon-erase"></i></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>