<style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
</style>
<div class="container-fluid"  ng-controller="listarOcorrenciaController as vm" ng-init="vm.iniciar()">
	<div class="row">
		<h2>Listar Ocorrências</h2>
		
		<alert ng-repeat="alert in vm.alerts" type="{{alert.type}}" close="vm.fecharAlert($index)">{{alert.msg}}</alert>
		
		<accordion>
			<accordion-group heading="Filtros" is-open="vm.apresentarFiltros">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="dataRegistro" class="col-sm-2 control-label">Status da Ocorrência</label>
						<div class="col-sm-6">
							<div class="btn-group">
								<label class="btn btn-default" ng-repeat="status in vm.statusOcorrencia" ng-model="status.selecionado" btn-checkbox>{{status.descricao}}</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="dataInicial" class="col-sm-2 control-label">Período</label>
						<div class="col-sm-6">
							<div class="form-inline">
								<p class="input-group">
									<input type="text" class="form-control" id="dataInicial"
										datepicker-popup="{{vm.calendarioFormat}}" ng-model="vm.calendarioInicial.data" current-text="Hoje" clear-text="Limpar" close-text="Fechar"
										is-open="vm.calendarioInicial.isOpen" max-date="vm.calendarioInicial.maxDate" ng-required="true" close-text="Close" ng-disabled="true"/>
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="vm.mostrarCalendarioInicial($event)"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								</p>
								à
								<p class="input-group">
									<input type="text" class="form-control" id="dataFinal"
										datepicker-popup="{{vm.calendarioFormat}}" ng-model="vm.calendarioFinal.data" current-text="Hoje" clear-text="Limpar" close-text="Fechar"
										is-open="vm.calendarioFinal.isOpen" max-date="vm.calendarioFinal.maxDate" ng-required="true" close-text="Close" ng-disabled="true"/>
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="vm.mostrarCalendarioFinal($event)"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
								</p>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-6">
							<button type="submit" class="btn btn-primary" ng-click="vm.listarOcorrencias()">Pesquisar</button>
						</div>
					</div>
				</form>
			</accordion-group>
		</accordion>
		
		<table class="table table-condensed table-hover table-striped table-bordered ">
			<thead>
				<tr>
					<th rowspan="2" class="text-center vert-align">Data Registro</th>
					<th colspan="2" class="text-center">Primeiro Turno</th>
					<th colspan="2" class="text-center">Segundo Turno</th>
					<th colspan="2" class="text-center">Terceiro Turno</th>
					<th rowspan="2" class="text-center vert-align">Status da Ocorrência</th>
				</tr>
				<tr>
					<th class="text-center">Entrada</th>
					<th class="text-center">Saída</th>
					<th class="text-center">Entrada</th>
					<th class="text-center">Saída</th>
					<th class="text-center">Entrada</th>
					<th class="text-center">Saída</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-center" ng-class="{danger : ocorrencia.rejeitada}" ng-repeat="ocorrencia in vm.ocorrencias" >
					<td><span popover-placement="right" popover="{{ocorrencia.justificativa}}" popover-trigger="mouseenter">{{ocorrencia.dataRegistro | date : 'dd/MM/yyyy'}}</span></td>
					<td>{{ocorrencia.entradaPrimeiroTurno | date : 'HH:mm:ss'}}</td>
					<td>{{ocorrencia.saidaPrimeiroTurno | date : 'HH:mm:ss'}}</td>
					<td>{{ocorrencia.entradaSegundoTurno | date : 'HH:mm:ss'}}</td>
					<td>{{ocorrencia.saidaSegundoTurno | date : 'HH:mm:ss'}}</td>
					<td>{{ocorrencia.entradaTerceiroTurno | date : 'HH:mm:ss'}}</td>
					<td>{{ocorrencia.saidaTerceiroTurno | date : 'HH:mm:ss'}}</td>
					<td>{{ocorrencia.descricaoStatusOcorrencia}}</td>
				</tr>
			</tbody>
		</table>
		
	</div>
</div>